<div id="conteudo">
<br/>
<br/>
<h2 align="center">Gráfico Demanda</h2>
<hr>
<br/>
<br/>
<table width="100%">
  <tr>
    <td align="center"><%= @graph %></td>
  </tr>
  <tr>
    <td width="100%" align="center">
      <%= link_to "Voltar", grafico_path %>
    </td>
  </tr>
</table>


</div>
